{% extends 'casinoaffiliate_app/base.html' %}
{% block header %}
<!-- header -->
<header class="flex sticky top-0 z-50 bg-[#0b0f1a] backdrop-blur-md justify-center">
    {% include 'casinoaffiliate_app/parts/header.html' %}
</header>
{% endblock %}

{% block content %}
<main class="bg-neutral-900 py-32">

    <div class="flex min-h-full flex-col justify-center px-6 lg:px-8">
        {% if request.user.is_authenticated %}
        <div class="flex flex-col gap-y-4 justify-center text-center">
            <i class="fa-regular fa-circle-check text-[126px] text-white"></i>
            <p class="text-xl text-white">Login successfuly. Redirecting...</p>
            <script>
                setTimeout(function () {
                    window.location.href = window.location.origin; //will redirect to your blog page (an ex: blog.html)
                }, 2000);

            </script>
        </div>
        {% else %}

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-24 w-auto" src="https://cdn-icons-png.flaticon.com/512/2460/2460478.png"
                alt="SpinSafely">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Giriş Yap
            </h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            {% if form.errors %}
            <p class="text-amber-500">E-postanızla Şifreniz Eşleşmiyor , Lütfen Tekrar Deneyiniz</p>
            {% endif %}


            <form class="space-y-6" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="username" class="block text-sm font-medium leading-6 text-zinc-100">
                        E-Posta Adresiniz</label>
                    <div class="mt-2">
                        <input id="username" name="username" type="email" autocomplete="email" required
                            class="block w-full rounded-md border-0 py-1.5 text-white-900 shadow-sm placeholder:text-white-400 !outline-none sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-zinc-100">Şifreniz</label>
                        <div class="text-sm">
                            <a href="#" class="font-light text-xs text-zinc-300 hover:text-indigo-500">
                                Şifremi Unuttum</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                            class="block w-full rounded-md border-0 py-1.5 text-white-900 shadow-sm ring-1 ring-inset ring-white-300 placeholder:text-gray-400
                            focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-amber-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white
                        shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600">Giriş Yap
                        </button>
                </div>
            </form>
            {% endif %}

            <!-- <p class="mt-10 text-center text-sm text-gray-500">
        Not a member?
        <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
      </p> -->
        </div>
    </div>
</main>
{% endblock %}