{% load static %}
<div class="grid grid-cols-2 md:grid-cols-6 items-center w-full px-8 sm:px-8 gap-x-8 sm:p-1 min-h-[50px]">
  <div class="logo col-span-1">
    <div class="w-40">
      <a href="{% url 'index' %}">
        <img src="{% static 'casinoaffiliate_app/imgs/9.png' %}" alt="" />
      </a>
    </div>
  </div>

  <!-- <nav class="hidden sm:block sm:basis-4/6"> -->
  <nav class="hidden col-span-3 md:block md:w-full">
    <ul class="flex items-center h-full gap-x-8 justify-start">
      <li id="home" class="text-lg text-white font-semibold">
        <a href="{% url 'index' %}">Ana Sayfa</a>
      </li>
      <li id="why-we" class="text-lg text-white font-semibold">
        <a href="{% url 'index' %}">Hakkımızda</a>
      </li>
      <li id="top-casinos" class="text-lg text-white font-semibold">
        <a href="{% url 'index' %}">Casinolar</a>
      </li>
      <li id="contact" class="text-lg text-white font-semibold">
        <a href="{% url 'index' %}">İletişim</a>
      </li>
      <!-- <li class="text-lg text-white font-semibold">
        <a href="{% url 'index' %}" id="top-casinos">Top Casinos</a>
      </li>
      <li class="text-lg text-white font-semibold">
        <a href="{% url 'index' %}" id="why-we">Why We Us</a>
      </li> -->
    </ul>
  </nav>

  <div class="mobile-icon flex md:hidden col-span-1 justify-end items-center ">
    <button class="open-mobile-menu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6 text-white">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
      </svg>
    </button>
  </div>

  {% if request.user.is_authenticated %}
  <div class="hidden md:flex col-span-2 justify-end items-center basis-full gap-x-4">
    <a href="{% url 'profile' %}" class="text-white bg-amber-600 p-2 px-3 rounded-xl ">
      <span>Panel</span>
    </a>
    <a href="{% url 'logout' %}">
      <i class="fa-solid fa-right-from-bracket text-white"></i>
    </a>
  </div>
  {% else %}
  <div class="hidden md:flex col-span-2 justify-end items-center basis-full gap-x-4">
    <a href="{% url 'login' %}" class="text-white">
      <span>Üye Girişi</span>
    </a>
    <a href="{% url 'register' %}" class="font-medium text-white bg-amber-400 px-2 py-2 rounded-lg">
      <span>Kayıt Ol</span>
    </a>
  </div>
  {% endif %}

  <div class="mobile-menu hidden flex flex-col gap-y-8 absolute top-0 bottom-0 right-0 left-0
    bg-black min-h-[350px] z-[999px] md:hidden">
    <div class="logo flex justify-between items-center px-8">
      <div class="w-14 mt-4">
        <a href="{% url 'index' %}">
          <img src="{% static 'casinoaffiliate_app/imgs/9.png' %}" alt="" />
        </a>
      </div>
      <div class="">
        <button class="close-mobile-menu text-white font-light text-[28px]">x</button>
      </div>
    </div>

    <nav class="w-full">
      <ul class="flex flex-col items-center h-full gap-x-8 justify-center">
        <li id="home" class="text-lg text-white font-semibold mb-2 border-b-2 border-zinc-800 px-2 py-1">
          <a href="{% url 'index' %}">Ana Sayfa</a>
        </li>
        <li id="home" class="text-lg text-white font-semibold mb-2 border-b-2 border-zinc-800 px-2 py-1">
          <a href="{% url 'index' %}">Partnerlerimiz</a>
        </li>
      </ul>
    </nav>


    <div class="flex justify-center items-center gap-x-16">
      {% if request.user.is_authenticated %}
      <a href="{% url 'profile' %}" class="text-white bg-amber-600 p-2 px-3 rounded-xl ">
        <span>Panel</span>
      </a>
      <i class="fa-solid fa-right-from-bracket text-white"></i>
      {% else %}
      <a href="{% url 'login' %}" class="text-white">
        <span>Giriş</span>
      </a>
      <a href="{% url 'register' %}" class="font-medium text-white bg-amber-400 px-2 py-2 rounded-lg">
        <span>Kayıt Ol</span>
      </a>
      {% endif %}
    </div>

  </div>
</div>

<meta name="cryptomus" content="9d51b88f" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TNWYT4E8LZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TNWYT4E8LZ');
</script>
<script>
  $('.close-mobile-menu').click(function () {
    $('.mobile-menu').addClass('hidden')
    $('.mobile-menu').removeClass('flex flex-col')
  });
  $('.open-mobile-menu').click(function () {
    $('.mobile-menu').addClass('flex flex-col')
    $('.mobile-menu').removeClass('hidden')
  });
</script>